* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/* Navbar Goes Styling Goes Here */
.navbar {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-weight: 800;
    font-size: 1.5rem;
}

.navbar .container {
    width: 1200px;
    margin: auto;
}

.navbar .container .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.navbar .container .row .nav-items-container {
    margin-left: auto;
}

.navbar .container .row .nav-items-container button, .navbar .container .row .nav-items-container input {
    border: 0;
    outline: 0;
    padding: 10px;
    border-bottom: 3px solid black;
    z-index: 99;
    background: transparent;
}

.navbar .container .row .nav-items-container button {
    background: black;
    color: white;
    border: 3px solid black;
}

.navbar .container .row .nav-items-container h1 {
    color: black;
    font-weight: 800;
}

@media screen and (max-width: 1200px) {
    .navbar .container {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .navbar .container .row {
        display: block;
    }
}
/* Navbar Goes Styling Ends Here */

/* Hero Styling Goes Here */
#hero {
    position: relative;
    /*background: url(https://nicolaferleibrown.files.wordpress.com/2015/03/mimosa-women-day-8.jpg);*/
    width: 100%;
    height: 100vh;
    /*background-position: center;*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    background: #fff;
}

#hero .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#hero .text h1 {
    font-size: 5rem;
    font-weight: 800;
}

b {
    color: #FF9190;
}

@media screen and (max-width: 768px) {
    #hero .text h1 {
        font-size: 2.5rem;
    }
}

#hero .container {
    position: relative;
    width: 100%;
    height: 100vh;
}

#hero .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
    #hero .container {
        top: 50%;
        left: 50%;
    }
}

#hero .container .cover {
    position: absolute;
    height: 0;
    width: 0;
}

#hero .container .cover.top {
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 150px solid transparent;
    border-top: 150px solid black;
    transform-origin: top;
}

#hero .container .cover.bottom.right {
    border-left: 200px solid transparent;
    border-right: 200px solid #FF9190;
    border-bottom: 150px solid black;
    border-top: 150px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
}

#hero .container .cover.left {
    border-left: 200px solid #FF9190;
    border-right: 200px solid transparent;
    border-bottom: 150px solid transparent;
    border-top: 150px solid transparent;
    border-bottom-left-radius: 10px;;
    z-index: 1;
}

.envelope {
    position: relative;
    width: 400px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    background-color: #ff8589;
}

@media screen and (max-width: 768px) {
    #hero .container .cover.top {
        border-left: 176px solid transparent;
        border-right: 175px solid transparent;
        border-bottom: 180px solid transparent;
        border-top: 169px solid black;
        transform-origin: top;
    }

    #hero .container .cover.bottom.right {
        border-left: 175px solid transparent;
        border-right: 176px solid #FF9190;
        border-bottom: 175px solid black;
        border-top: 168px solid transparent;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 1;
    }

    #hero .container .cover.left {
        border-left: 175px solid #ff8589;
        border-right: 151px solid transparent;
        border-bottom: 178px solid transparent;
        border-top: 167px solid transparent;
        border-bottom-left-radius: 10px;
        z-index: 1;
    }
    .envelope {
        width: 350px;
    }
    .letter {
        transform: scale(1.09)!important;
    }
}

.letter {
    background: #fff;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    z-index: 99;
    font-family: 'Kalam', cursive;
}

.open {
    transform: rotateX(180deg);
    transition: transform 0.6s ease;
    z-index: 1;
}

.close {
    transform: rotate(0deg);
    transition: transform 0.4s 0.4s ease;
    z-index: 5;
}

.in {
    transform: translateY(0px);
    transition: transform 0.4s ease;
    z-index: 3;
}

.out-partial {
    transform: translateY(-100px);
    transition: transfrom 0.4s 0.6s ease;
    z-index: 3;
}

@keyframes pullLetter {
    0% {
        transform: translateY(-100px);
    }
    35% {
        transform: translateY(-200px);
    }
    70% {
        transform: translateY(-300px);
    }
    100% {
        transform: translateY(-300px);
    }
}

@keyframes putLetter {
    0% {
        transform: translateY(-300px) scale(1);
    }
    25% {
        transform: translateY(-300px) scale(1.25);
    }
    50% {
        transform: translateY(-200px) scale(1.5);
    }
    75% {
        transform: translateY(-100px) scale(1.75);
    }
    100% {
        transform: translateY(0px) scale(2);
    }
    
}

.pull {
    animation-name: pullLetter;
    animation-timing-function: linear;
    animation-duration: 1s;
}

.put {
    animation-name: putLetter;
    animation-timing-function: linear;
    animation-duration: 1s;
}

.final {
    z-index: 20;
    transform: translateY(0px) scale(2);
}
.rose {
    width: 20%;
    height: 20%;
    transform: translateX(1029px) translateY(-17px) rotate(180deg) scale(2);
    z-index: -1;
}

@media screen and (max-width: 1200px) {
    .rose {
        transform: translateX(350px) translateY(-17px) rotate(180deg) scale(2);
    }
}
/* Hero Styling Ends Here */
